@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form{
  display: flex;
  max-width: 450px;
  /* background-color: aqua; */
  flex-direction: column;
  padding: 40px;
  margin: 50px auto;
  /* border: solid 1px; */
  border-radius: 20px;
  background-color: rgb(238, 238, 238);
}

.form__title{
  margin: 20px auto;
  font-family: 'Inter', serif;
  letter-spacing: 1px;
  font-weight: 400;
}

.form__group{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form__label{
  font-family: 'Inter', serif;
  letter-spacing: 2px;
  font-weight: 300;
}

.form__input{
  border-radius: 5px;
  border: solid 0px;
  background-color: rgb(216, 216, 216);
  padding: 10px;
  /* width: 125%; */
  font-size: 16px;
  outline: unset;
}

.form__group__button{
  display: flex;
  justify-content:space-evenly;
  margin-top: 20px;
}

.form__button{
  border: solid 0px;
  background-color: rgb(211, 211, 211);
  padding: 10px;
  font-family: 'Inter', serif;
  letter-spacing: 2px;
  border-radius: 5px;
  width: 100px;
}

.form__button:hover{
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}

